<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

<form action="process" method="post">
    Name: <input type="text" name="name"><br>
    Quote: <input type="text" name="quote"><br>
    <input type="submit" value="Add Quote">
</form>